In [1]:
import os, sys
import pandas as pd
import numpy as np
from PIL import Image
from matplotlib import pyplot as plt
import datetime
from datetime import date
%matplotlib inline

In [2]:
data_dir = '../Data/'
data_filedir = data_dir + '2016_Jan.csv'

In [3]:
data = pd.read_table(data_filedir, sep='\t', error_bad_lines=False)
# data.head()

b'Skipping line 596959: expected 14 fields, saw 26\n'

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key,dock_name6
0,72,W 52 St & 11 Ave,16-01-01,1,12,0,10,27,39,40.767272,-73.993929,1,1,NaN
1,72,W 52 St & 11 Ave,16-01-01,1,24,0,10,27,39,40.767272,-73.993929,1,1,NaN
2,72,W 52 St & 11 Ave,16-01-01,1,35,0,10,27,39,40.767272,-73.993929,1,1,NaN
3,72,W 52 St & 11 Ave,16-01-01,1,46,0,10,27,39,40.767272,-73.993929,1,1,NaN
4,72,W 52 St & 11 Ave,16-01-01,1,57,0,9,28,39,40.767272,-73.993929,1,1,NaN

In [4]:
data[(data.hour==12) & (data.pm == 0)]

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key,dock_name6
56,72,W 52 St & 11 Ave,16-01-01,12,6,0,9,28,39,40.767272,-73.993929,1,1,NaN
57,72,W 52 St & 11 Ave,16-01-01,12,29,0,9,28,39,40.767272,-73.993929,1,1,NaN
58,72,W 52 St & 11 Ave,16-01-01,12,52,0,10,27,39,40.767272,-73.993929,1,1,NaN
168,72,W 52 St & 11 Ave,16-01-02,12,1,0,3,36,39,40.767272,-73.993929,1,1,NaN
169,72,W 52 St & 11 Ave,16-01-02,12,13,0,3,36,39,40.767272,-73.993929,1,1,NaN
170,72,W 52 St & 11 Ave,16-01-02,12,25,0,2,37,39,40.767272,-73.993929,1,1,NaN
171,72,W 52 St & 11 Ave,16-01-02,12,38,0,2,37,39,40.767272,-73.993929,1,1,NaN
172,72,W 52 St & 11 Ave,16-01-02,12,50,0,2,37,39,40.767272,-73.993929,1,1,NaN
280,72,W 52 St & 11 Ave,16-01-03,12,6,0,29,9,39,40.767272,-73.993929,1,1,NaN
281,72,W 52 St & 11 Ave,16-01-03,12,18,0,29,9,39,40.767272,-73.993929,1,1,NaN
282,72,W 52 St & 11 Ave,16-01-03,12,30,0,29,9,39,40.767272,-73.993929,1,1,NaN
283,72,W 52 St & 11 Ave,16-01-03,12,42,0,29,9,39,40.767272,-73.993929,1,1,NaN
284,72,W 52 St & 11 Ave,16-01-03,12,54,0,29,9,39,40.767272,-73.993929,1,1,NaN
387,72,W 52 St & 11 Ave,16-01-04,12,2,0,35,4,39,40.767272,-73.993929,1,1,NaN
388,72,W 52 St & 11 Ave,16-01-04,12,14,0,35,4,39,40.767272,-73.993929,1,1,NaN
389,72,W 52 St & 11 Ave,16-01-04,12,26,0,35,4,39,40.767272,-73.993929,1,1,NaN
390,72,W 52 St & 11 Ave,16-01-04,12,39,0,35,4,39,40.767272,-73.993929,1,1,NaN
391,72,W 52 St & 11 Ave,16-01-04,12,51,0,35,4,39,40.767272,-73.993929,1,1,NaN
479,72,W 52 St & 11 Ave,16-01-05,12,4,0,28,11,39,40.767272,-73.993929,1,1,NaN
480,72,W 52 St & 11 Ave,16-01-05,12,18,0,28,11,39,40.767272,-73.993929,1,1,NaN
481,72,W 52 St & 11 Ave,16-01-05,12,30,0,29,10,39,40.767272,-73.993929,1,1,NaN
482,72,W 52 St & 11 Ave,16-01-05,12,40,0,29,10,39,40.767272,-73.993929,1,1,NaN
483,72,W 52 St & 11 Ave,16-01-05,12,51,0,29,10,39,40.767272,-73.993929,1,1,NaN
589,72,W 52 St & 11 Ave,16-01-06,12,5,0,17,22,39,40.767272,-73.993929,1,1,NaN
590,72,W 52 St & 11 Ave,16-01-06,12,17,0,17,22,39,40.767272,-73.993929,1,1,NaN
591,72,W 52 St & 11 Ave,16-01-06,12,30,0,17,22,39,40.767272,-73.993929,1,1,NaN
592,72,W 52 St & 11 Ave,16-01-06,12,41,0,17,22,39,40.767272,-73.993929,1,1,NaN
593,72,W 52 St & 11 Ave,16-01-06,12,49,0,17,22,39,40.767272,-73.993929,1,1,NaN
594,72,W 52 St & 11 Ave,16-01-06,12,58,0,17,22,39,40.767272,-73.993929,1,1,NaN
699,72,W 52 St & 11 Ave,16-01-07,12,5,0,4,35,39,40.767272,-73.993929,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596913,3244,University Pl & E 8 St,16-01-25,12,3,0,0,30,31,40.731437,-73.994903,0,3,NaN
1596914,3244,University Pl & E 8 St,16-01-25,12,17,0,0,30,31,40.731437,-73.994903,0,3,NaN
1596915,3244,University Pl & E 8 St,16-01-25,12,32,0,0,30,31,40.731437,-73.994903,0,3,NaN
1596916,3244,University Pl & E 8 St,16-01-25,12,46,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597010,3244,University Pl & E 8 St,16-01-26,12,3,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597011,3244,University Pl & E 8 St,16-01-26,12,17,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597012,3244,University Pl & E 8 St,16-01-26,12,32,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597013,3244,University Pl & E 8 St,16-01-26,12,46,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597094,3244,University Pl & E 8 St,16-01-27,12,3,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597095,3244,University Pl & E 8 St,16-01-27,12,17,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597096,3244,University Pl & E 8 St,16-01-27,12,31,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597097,3244,University Pl & E 8 St,16-01-27,12,44,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597098,3244,University Pl & E 8 St,16-01-27,12,56,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597164,3244,University Pl & E 8 St,16-01-28,12,4,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597165,3244,University Pl & E 8 St,16-01-28,12,18,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597166,3244,University Pl & E 8 St,16-01-28,12,32,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597167,3244,University Pl & E 8 St,16-01-28,12,47,0,0,30,31,40.731437,-73.994903,0,3,NaN
1597216,3244,University Pl & E 8 St,16-01-29,12,11,0,0,29,31,40.731437,-73.994903,0,3,NaN
1597217,3244,University Pl & E 8 St,16-01-29,12,43,0,0,29,31,40.731437,-73.994903,0,3,NaN
1597307,3244,University Pl & E 8 St,16-01-30,12,1,0,5,26,31,40.731437,-73.994903,1,1,NaN
1597308,3244,University Pl & E 8 St,16-01-30,12,12,0,5,26,31,40.731437,-73.994903,1,1,NaN
1597309,3244,University Pl & E 8 St,16-01-30,12,23,0,5,26,31,40.731437,-73.994903,1,1,NaN
1597310,3244,University Pl & E 8 St,16-01-30,12,35,0,5,26,31,40.731437,-73.994903,1,1,NaN
1597311,3244,University Pl & E 8 St,16-01-30,12,46,0,5,26,31,40.731437,-73.994903,1,1,NaN
1597312,3244,University Pl & E 8 St,16-01-30,12,57,0,5,26,31,40.731437,-73.994903,1,1,NaN
1597426,3244,University Pl & E 8 St,16-01-31,12,6,0,2,29,31,40.731437,-73.994903,1,1,NaN
1597427,3244,University Pl & E 8 St,16-01-31,12,18,0,2,29,31,40.731437,-73.994903,1,1,NaN
1597428,3244,University Pl & E 8 St,16-01-31,12,33,0,2,29,31,40.731437,-73.994903,1,1,NaN
1597429,3244,University Pl & E 8 St,16-01-31,12,44,0,2,29,31,40.731437,-73.994903,1,1,NaN
1597430,3244,University Pl & E 8 St,16-01-31,12,55,0,2,29,31,40.731437,-73.994903,1,1,NaN

In [5]:
data['datetime'] = pd.to_datetime(data['date'], format='%y-%m-%d')
data.drop('date', axis = 1, inplace = True)

data['shortage'] = [1 if x<=5 else 0 for x in data['avail_bikes']]


#binary feature of each day
data['day_of_week'] = data['datetime'].dt.weekday_name
data['weekday'] = [0 if x in ['Saturday','Sunday'] else 1 for x in data['day_of_week']]


for day in ['Monday', 'Tuesday','Wednesday', 'Thursday','Friday', 'Saturday','Sunday']:
    data[day] = data.day_of_week == day

#holiday    
holiday = ['2016-01-01','2016-01-18', '2016-02-15', '2016-05-30',
           '2016-07-04', '2016-09-05', '2016-10-10', '2016-11-11', '2016-11-24', '2016-12-25']

holiday = pd.to_datetime(holiday, format='%Y-%m-%d')
data['holiday'] = [1 if x in holiday else 0 for x in data['datetime']]

#cyclical characteristics of time
data['hour_24'] = data.hour + data.pm * 12 
data['time_x'] = np.cos((data.hour_24 + data.minute/60) * 2*np.pi /24)
data['time_y'] = np.sin((data.hour_24 + data.minute/60) * 2*np.pi /24)
data['dayofyear'] = data.datetime.dt.dayofyear
data['day_x'] = np.cos((data.dayofyear) * 2*np.pi /365)
data['day_y'] = np.sin((data.dayofyear) * 2*np.pi /365)

In [8]:
# list(data.columns)

#X: features
X = data.loc[:,['time_x','time_y','_lat','_long','tot_docks','Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday', 'weekday','day_x','day_y', 'holiday']].as_matrix()

#Y: target
Y = (data['shortage']).as_matrix()